@page "/"
@using NetcodeHub.Packages.Extensions
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<Download FileName="@FileName" FileURL="@FileURL" />

@code{
    string? FileName; string? FileURL;
    protected override void OnInitialized()
    {
        FileName = "Course Outline";
        FileURL = "Course Outline.pdf";
    }
     
    //string? Text = $"New Text{Environment.NewLine} We are testing the package";
}